.cart{
    padding: 0 var(--padding-content);
    padding-top: calc(var(--padding-content)/2);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading{
    font-size: xx-large;
    font-weight: 500;
}

.linkToProducts{
    color: initial;
}

.products{
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0;
    border-bottom: 1px solid var(--color-border-grey);
    gap: 2.5rem;
}

.tHeadings, .product{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.tHeadings{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-border-grey);
}

.total{
    text-align: end;
}

.thead{
    font-size: smaller;
    opacity: 0.7;
}

.product .info{
    display: flex;
    gap: 1rem;
}

.info .titleAndPrice{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.info .title{
    font-size: 0.9rem;
    font-weight: 500;
}

.info .price{
    font-size: small;
}

.product .productImage{
    height: 6rem;
    width: 6rem;
    border: 1px solid var(--color-border-grey);
}

.billing{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.billing .subtotal{
    display: flex;
    gap: 1.5rem;
    font-size: medium;
}

.billing .note{
    font-size: small;
    opacity: 0.7;
    padding: 1rem 0;
}

button.checkout{
    height: 3rem;
    width: 20rem;
    font-size: 0.9rem;
    background-color: var(--color-primary);
    cursor: pointer;
}

button.checkout > a{
    color: var(--color-secondary);
    text-decoration: none;
}

button.checkout:hover{
    padding-top: 1px;
    outline: 1px solid black;
}

.quantityInputContainer {
    --size: 2.5rem;
    --size-inner: 2rem;
    --container-width: calc(var(--size)*3.5);

    position: relative;
    width: var(--container-width);
    margin: var(--normal-spacing) 0;
}

.quantityLabel {
    opacity: var(--opacity);
}

.quantityInput {
    height: var(--size);
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-left: 0.5rem;
}

.quantityDecrement,
.quantityIncrement {
    height: var(--size-inner);
    width: var(--size-inner);
    text-align: center;
    font-size: large;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
}

.quantityDecrement {
    position: absolute;
    left: 0.3rem;
    top: 0.2rem;
}

.quantityIncrement {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
}

.middleSection{
    display: flex;
    gap: 1.5rem;
}

button.itemDelete{
    display: flex;
    width: fit-content;
    background-color: unset;
    border: none;
    padding-top: 0.5rem;
}

button.itemDelete > img{
    cursor: pointer;
}

h2.emptyCart{
    position: relative;
    font-size: xx-large;
    font-weight: 400;
    padding: 5rem;
    text-align: center;
}

h2.emptyCart > .faceEmoji{
    position: absolute;
    top: 5.3rem;
    font-style: normal;
    margin-left: 1rem;
}