.quantityInputContainer {
    --size: 2.5rem;
    --size-inner: 2rem;
    --container-width: calc(var(--size)*3.5);
    --h-space: calc(var(--size-inner) / 7);
    --v-space: calc(var(--size) / 1.9);

    position: relative;
    width: var(--container-width);
    margin: var(--normal-spacing) 0;
}

.quantityLabel {
    opacity: var(--opacity);
}

.quantityInput {
    height: var(--size);
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-left: 0.5rem;
}

.quantityDecrement,
.quantityIncrement {
    height: var(--size-inner);
    width: var(--size-inner);
    text-align: center;
    font-size: large;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
}

.quantityDecrement{
    position: absolute;
    left: var(--h-space);
    top: var(--v-space);
}

.quantityIncrement {
    position: absolute;
    right: var(--h-space);
    top: var(--v-space);
}

/* Mobile  */
@media screen and (width <= 600px){
    .quantityInputContainer {
        --size: 5rem;
        --size-inner: 4.5rem;
        --container-width: calc(var(--size)*3.5);
        --normal-spacing: 2rem;
        --v-space: calc(var(--size) / 1.7);

        padding-bottom: var(--normal-spacing);
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 900px){
    .quantityInputContainer {
        --size: 4rem;
        --size-inner: 3.5rem;

        --normal-spacing: 2rem;
    }
}