html {
  --color-primary: #121212;
  --color-secondary: rgb(255, 255, 255);
  --color-border-grey: rgb(230, 230, 230);
  --opacity: 0.7;
  --padding-content: 10vw;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-size: 14px;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.announcement-bar{
  text-align: center;
  color: var(--color-secondary);
  padding: 1em;
  background-color: var(--color-primary);
}

.header{
  height: 6.5em;
  display: flex;
  align-items: center;
  border-bottom: var(--color-border-grey) 1px solid;
  padding: 0 var(--padding-content);
}

.header nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav .header-left{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .link-with-svg {
  display: flex;
  align-items: center;
  gap: 2px;
}

.header nav .header-left .link-with-svg .svg{
  align-self: flex-end;
}

.header .header-left a.link{
  color: initial;
  text-decoration: none;
}

.header .header-left a.link.active{
  text-decoration: underline;
}

.header nav .header-right{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .cart{
  position: relative;
}

.header .cart .svg{
  position: absolute;
  top: 0;
  left: 0;
}

.header .cart .cartItemsCount{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.8rem;
  width: 0.8rem;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: 50%;
}

.title-gymtools{
  font-size: x-large;
  margin-right: 40px;
}

.footer{
  border-top: var(--color-border-grey) 1px solid;
}

.upper-footer{
  display: flex;
  gap: 13em;
  padding: 2em var(--padding-content);
}

.footer-headings{
  font-weight: 600;
  margin: 2em 0;
}

.footer .list a {
  color: initial;
  text-decoration: none;
}

.footer .list{
  list-style-type: none;
}

.footer .list li, .footer div p{
  opacity: var(--opacity);
  margin: 1em 0;
}

.lower-footer{
  font-size: 11px;
  border-top: 1px solid var(--color-border-grey);
  padding: 2em var(--padding-content);
}