.banner{
    padding-top: 50vh;
    height: 90vh;
    text-align: center;
    color: var(--color-secondary);
    background-image: url("/media/girl-calisthenics-banner.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.banner button.shopNow{
    height: 2.7em;
    width: 7.5em;
    font-size: 1.2em;
    color: var(--color-secondary);
    background: transparent;
    border: 1px solid var(--color-secondary);
}

.shopNow > a{
    color: var(--color-secondary);
    text-decoration: none;
}

.shopNow:hover >a{
    color: var(--color-primary);
}

.banner button.shopNow:hover{
    cursor: pointer;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.heading, .description{
    text-align: center;
    margin: 1rem 0;
}

.heading {
    font-weight: normal;
    font-size: 3em;
}

.description{
    opacity: 0.75;
}

.productShowcase{
    padding-bottom: 5rem;
}

.reviews{
    display: flex;
    gap: 1rem;
    padding: 0 var(--padding-content);
    margin-bottom: 4rem;
}

.review{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.review .name{
    font-size: x-large;
}

.review .reviewContent{
    color: var(--color-primary);
    opacity: 0.7;
    letter-spacing: 1px;
}

@media screen and (width <=600px) {
    .banner{
        padding-top: 10vh;
        height: 70vh;
        background-size: contain;
    }
    .banner .heading{
        font-size: 2.7em; 
    }
    .banner button.shopNow{
        margin-top: 2rem;
    }
    .heading {
        font-size: 2em;
    }
    .description{
        font-size: smaller;
    }
    .productShowcase{
        padding: 0 1rem;
    }   
    .reviews{
        flex-direction: column;
        margin-bottom: 12rem;
    }
    .review .name {
        font-size: large;
        margin: 2rem 0;
    }

    .review .reviewContent {
        letter-spacing: unset; 
    }
}