.banner{
    padding-top: 50vh;
    height: 90vh;
    text-align: center;
    color: var(--color-secondary);
    background-image: url("/media/girl-calisthenics-banner.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.banner button.shopNow{
    height: 2.7em;
    width: 7.5em;
    font-size: 1.2em;
    color: var(--color-secondary);
    background: transparent;
    border: 1px solid var(--color-secondary);
}

.banner button.shopNow:hover{
    cursor: pointer;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.heading, .description{
    text-align: center;
    margin: 1rem 0;
}

.heading {
    font-weight: normal;
    font-size: 3em;
}

.description{
    opacity: 0.75;
}

.productShowcase{
    padding-bottom: 5rem;
}

.products{
    display: grid;
    margin: 2rem var(--padding-content);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7px;
}

/* .products .card.product{
    border: 1px solid blue;
} */

.products .productPreviewImg{
    height: 80%;
    width: 100%;
}

.products .pricing{
    display: flex;
    gap: 10%;
}

.products .pricing .strikeThrough{
    text-decoration: line-through;
}