.product{
    --normal-spacing: 1rem;
    
    padding: 2rem var(--padding-content);
    /* border: 2px solid pink; */
    /* color: var(--color-secondary);
    background-color: var(--color-primary); */
}

.upperSection{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: calc(var(--normal-spacing)*2) 0;
}

.images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.4rem;
    /* border: 2px solid green; */
}

.image{
    height: 100%;
    width: 100%;
}

.image:global(.image1) {
    grid-area: 1 / 1 / 5 / 5;
}

.image:global(.image2) {
    grid-area: 5 / 1 / 7 / 3;
}

.image:global(.image3) {
    grid-area: 7 / 1 / 9 / 3;
}

.image:global(.image4) {
    grid-area: 5 / 3 / 7 / 5;
}

.title{
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: var(--normal-spacing);
}

.price{
    text-decoration: line-through;
    opacity: var(--opacity);
}

.price, .salePrice{
    font-weight: normal;
}

.addToCart, .buyItNow{
    height: 3rem;
    width: 100%;
    font-size: medium;
    cursor: pointer;
}

.addToCart{
    margin-top: calc(var(--normal-spacing)*3.5);
    background-color: var(--color-secondary);
    margin-bottom: calc(var(--normal-spacing)/2);
}

.buyItNow{
    color: var(--color-secondary);
    background-color: var(--color-primary);
    margin-bottom: var(--normal-spacing);
}

.description{
    font-size: medium;
    line-height: 2rem;
    opacity: var(--opacity);
}

.features{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.feature{
    display: flex;
    flex-direction: column;
    gap: var(--normal-spacing);
}

.feature .heading{
    font-size: large;
    font-weight: 500;
}

.lowerSection{
    margin: 3rem 0;
}

/* Mobile */
@media screen and (width <= 700px) {
    .upperSection {
        grid-template-columns: 1fr;
    }
    .mobileHidden{
        display: none;
    }
    .title {
        font-weight: 300;
    }
    .pricingContainer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
    }
    .pricingContainer .price{
        font-size: small;
    }
    .addToCart, .buyItNow{
        height: 6rem;
        font-weight: 100;
    }
    .addToCart > p{
        opacity: 0.9;
    }
    .buyItNow{
        margin-bottom: 5rem;
    }
    .description{
        font-size: small;
        word-spacing: 0.5rem;
        line-height: 3rem;
    }
    .features{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .feature .heading {
        font-size: medium;
        font-weight: 300;
    }
} 

/* Desktop */
@media screen and (width > 700px){
    .desktopHidden{
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 900px){
    .images{
        height: 100vh;
    }
    .pricingContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }
    .addToCart,
    .buyItNow {
        height: 5rem;
    }
    .description {
        font-size: small;
    }
    .features {
        gap: var(--normal-spacing);
    }
}